@model IEnumerable<VidlyApplication.Models.Customer>
@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    @if (Model == null)
    {
        <text>We don't have any customers yet!</text>
    }
    else
    {
        <tr>
            <th>Customer Name</th>
            <th>Membership Type</th>
        </tr>
        foreach (var cust in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(cust.Name, "Edit", "Customers", new { Id = cust.Id }, null)
                </td>
                <td>
                    @cust.MembershipType.MembershipName
                </td>
            </tr>
        }
    }
</table>