@model IEnumerable<VidlyApplication.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


@if (Model == null)
{
    <text>Multiple people have rented this movie!!</text>
}
else
{
    <table class="table">
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>
        </tr>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.GenreName</td>
            </tr>

        }
    </table>
}





